<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Créer une Classe</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
</head>
<body>
<div class="container my-5">
  <h2>Créer une nouvelle classe</h2>

  <div th:if="${error != null}" class="alert alert-danger" role="alert" th:text="${error}">
    L'enseignant est déjà affecté à une autre classe.
  </div>

  <div>
    <a th:href="@{/admin/liste_classes}" class="btn btn-primary mb-3">afficher les classes .</a>

  </div>

  <form th:action="@{/admin/creer_classe}" th:object="${classe}" method="post">
    <div class="mb-3">
      <label for="nomClasse" class="form-label">Nom de la Classe</label>
      <input type="text" th:field="*{nomClasse}" class="form-control" id="nomClasse">
    </div>
    <div class="mb-3">
      <label for="effectifs" class="form-label">Effectifs</label>
      <input type="number" th:field="*{effectifs}" class="form-control" id="effectifs">
    </div>
    <div class="mb-3">
      <label for="enseignant" class="form-label">Enseignant Responsable</label>
      <select th:field="*{enseignant}" class="form-control" id="enseignant">
        <option th:each="enseignant : ${enseignants}"
                th:value="${enseignant.id}"
                th:text="${enseignant.firstname + ' ' + enseignant.lastname}">
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Enregistrer la classe</button>
  </form>
</div>
</body>
</html>